
{% extends 'fand.html' %}
{% block content %}
<form name='form' onsubmit="sendList()" method="POST" action="{% url 'month' %}">
    <input type="hidden" name="hidden1" value="">
<a href="{% url 'month' month_previous.year month_previous.month %}">前月</a>
{{ month_current | date:"Y年m月" }}
{{ month_corrent.month }}
{{ form.as_p |json_script:"hello-data" }}
<a href="{% url 'month' month_next.year month_next.month %}">次月</a>

    <table class="table">
        <thead>
        <tr>
            {% for w in week_names %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                    {% if now == day %}
                        <td class="day table-success">
                            {% else %}
                        <td class="day" >
                            
                    {% endif %}
                    <div>
                {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}
                    {{ day.day }}
                    {% for p in plan %}
                        {% if p.day == day.day %}
                            <div class="menu">{{p.menu}}</div>
                        {% endif %}
                    {% endfor %}
                    <!-- <span>{{ view.request.user.username }}</span> -->
                {% endif %}
            </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" id='send' value='{{ month_current | date:"m月の" }}予定を送る'>
    {% csrf_token %}
</form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script>

        
        const hoge = document.getElementsByClassName('menu');
        var value = JSON.parse(document.getElementById('hello-data').textContent);

            for (var i = 0; i < hoge.length; i++) {
                $(".menu").eq(i).click(function() {
                    if(!$(this).hasClass("attend")){
                        $(this ,"ul").append('<div class="user">'+"参加できます!"+'</div>');
                        // $(this ,"ul").append('<div class="remove">削除</div>');
                        $(this).addClass("attend")

                        // var h = document.getElementsByClassName('remove');
                        // $(".day").click(function() {
                        // $(this ,"ul").find(".remove").click(function(e) {
                        //     e.stopPropagation();
                        //     console.log($(this).parent('td'))
                        //     console.log($(this).parent().find('.attend'))
                        //     $(this).parent('td').removeClass("attend")
                        //     $(this).parent('td').children().remove();
                        // })
                }
                    else{
                        // $(".remove").click(function() {
                        //         $(this).parent().removeClass("attend")
                        //         $(this).parent().children().remove();
                

                        //     })
                        // var h = document.getElementsByClassName('remove');
                        // $(".day").click(function() {
                        //     $(".remove").each(function() {
                        //         $(this).parent().removeClass("attend")
                        //         $(this).parent().children().remove();
                

                        //     })})
                        $(this ,"ul").children().remove();
                        $(this).removeClass("attend")
                    
                    }
                })

            }
        function setListener(){

        }
        function sendList(){

            const a = "aa";

            document.form.hidden1.value = a;

            console.log(document.form1.hidden1.value); //赤,黄,青
        }

    </script>
    
{% endblock %}

